body{
    background-color: rgb(92, 92, 92);
}

.task-div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-wrap: wrap;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}

.date-styles{
    text-align: center;
    font-size: 12px;
    flex-direction: column;
    display: flex;
    margin-top: 30px;
}